/*  Seleccionar todo 
* {
    backgorund: black;
}*/

/* Seleccionar un atributo
blockquote [cite] {
} */

* {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2 {
    font: bold 14px sans-serif;
}
header, section, footer, aside, nav, article, hgroup {
    display: block;
}
body {
    text-align: center;
    background-color: gray;
}
.agrupar {
    background-color: white;
    width: 70%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 1px solid grey;
}
.cabecera {
    background-color: black;
    color: white;
    border: 1px solid #A7B9A1;
    padding: 20px;
}
.cabecera h1 {
    text-align: left;
}
.menu {
    background-color:#A7B9A1;
    padding: 5px 15px;
    text-align: left;
}
.menu li {
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;
}
.seccion {
    margin: 20px;
    width: 60%;
    float: left;
}
article {
    background-color: #7DF354;
    border: 1px solid gray;
    padding: 20px;
    margin-bottom: 20px;
}
article footer p{
    margin-top: 20px;
    text-align: right;
}
.seccion img {
    width: 50%;
    
}
.columna {
    margin: 20px;
    width: 30%;
    float: left;
}
.pie {
    clear: both;
    padding: 10px;
    background-color: black;
    color: white;
}
time {
        color: gray;
}
article h1, h2 {
    text-align: left;
    margin-bottom: 20px;
}
article p {
    margin: 10px 0px;
    font-size: medium;
    text-align: justify;
}
.columna blockquote {
    margin: 10px;
    background-color: #7DF354;
    padding: 10px;
    border: 1px solid gray;
}
